*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
body{
    border: none;
}
.container{
   
    width: 1140px;
    margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* .container{
    border: 1px solid red;
} */
a{
    text-decoration: none;
}
.nav-inner{
    display: flex;
   justify-content: space-between;
}
.nav-button{
    display: none;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 17px;
}
.nav-sublist{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 17px;
}
.nav-imge{
padding: 8px 12px;
border-radius: 5px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
transition:all 0.5s;
}
.nav-imge:hover{
    /* border: 1px solid#295091; */
    transition:all 0.5s;
    transform: scale(1.1);
}
.nav-img{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 6px 8px;
    border-radius: 3px;
}
.nav-picture{
    transition: 0.9s;
}
.nav-picture:hover{
transform:scale(1.2);
}

.nav .container{
    padding-top: 50px;
    
}
.box-text{
    color:#515151;
    font-family: Rubik;
font-size: 19px;
font-weight: 500;
line-height: 22.52px;
padding: 15px 7px;

}
.box .container{
    padding-top: 50px;
}

.box-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 7px;
    border-radius: 4px;
}
.card-img{
    width: 100%;
    margin: 0 auto;
    padding-top: 18px;
}
.section-sublist{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26%;
}
.section-img{
    padding:0  14px;
}
.section-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    
}
.section .container{
    display: flex;
    justify-content: space-between;
 
    margin-top: 40px;
    background-color: 
    #F6F6F9;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar-list{
    list-style: none;
    width: 32%;
    /* padding: 8px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;

}
.navbar .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 40px;
}
.navbar-img{
    width: 100%;
    border-radius: 4px;
    transition:all 0.6s;
   
}
.navbar-img:hover{
    transform: scale(1.2);
}
.navbar-text{
    padding: 10px 0;
    color: 
    #202020;
    font-family: Rubik;
font-size: 17px;
font-weight: 500;
line-height: 20.15px;
text-align: left;

}
.navbar-subtext{
    color: #6B6D97;
    font-family: Rubik;
font-size: 14px;
font-weight: 400;
line-height: 16.59px;
text-align: left;
padding: 6px 0;
}
.icon-img{
  width: 31px;
  height: 35px;
  margin-left: 9px;
}
.icon .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px ;
    background-color:
    #efc36f ;
    padding: 12px 0;
    border-radius: 4px;
}
.icon-list{
    display: flex;
    align-items: center;
    gap: 10px;

}
.icon-btn{
    margin-right: 9px;
    background-color: #FF8B36;
    border-radius: 4px;
    padding: 8px 10px;
}













.holder-list{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.holder-subtitle{
    
    color: #000000;
    font-family: Rubik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 400px;
}
.holder-text{
    color: #434343;
font-family: Rubik;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 10px 0;
width: 300px;
}
.holder-subtext{
    color: #7688A4;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 15px;
}

.holder-left{
    width: 680px;
}
.holder-title{
    color: #000000;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 13px;
}

.holder-name{
    color: #000000;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
/* padding-bottom: 15px; */
}
.holder-sublist{
    list-style: none;
    width: 300px;
}
.holder-suptext{
    color: #202020;
font-family: Rubik;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 15px;
}
.holder-heading{
    color: #7688A4;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 19px 0;
}
.holder-tiny{
    background: #E4E4E4;
    width: 346px;
height: 4px;
flex-shrink: 0;

}
.holder .container{
    display: flex;
    justify-content: space-between;
padding-top: 17px;
}
.holder-picture{
    padding-top: 25px;
}

.holder-caption{
    color: #FFF;
font-family: Rubik;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
    padding : 11px 25px ;
    border-radius: 5px;
background: #295093;
width: 200px;
height: 40px;
margin-left: 18px;
}
.holder-caption:hover{
    background-color: white;
    color: #295093;
    border: 1px solid #295093;
}
.holder-asida{
    border-radius: 5px;
background: #F6F6F9;
padding-left: 17px;
}
.holder .container{
    margin-top: 30px;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.footer-right{
    display: flex;
    align-items: center;
}
.footer-title{
    font-family: Rubik;
font-size: 16px;
font-weight: 700;
line-height: 18.96px;
text-align: left;
background-color: #133C82;
padding: 8px 10px;
border-radius: 4px;
color: white;
}
.footer-text{
    padding-right: 15px;
    color: white;
}
.footer{
    background-color: #295093;
}
.footer-btn{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 4px;
    gap: 10px;
}
.footer-rows{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
}
.footer-row{
    line-height: 30px;
}

.fote-col{
    font-weight: bold;
}






@media(max-width:1200px){
    .container{
        width: 1120px;
    }

}
@media(max-width:1100px){
    .container{
        width: 1020px;
    }
    .holder .container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .holder-left{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .holder-title{
        display: none;
    }
    .holder-list{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        /* max-width: 100%; */
    }
    .holder-subtitle{
        width: 80%;
    }
    .holder-caption{
        /* align-items: center; 
        */
        display: none;
    }
    .holder-right{
        display: flex;
        justify-content: space-between;
        display: none;
    }
    .holder-picture{
        width: 300px;
        height: 600px;
    }
    .holder-asida{
        padding-bottom: 20px;
    }
    .box .container{
        display: none;
    }

}
@media(max-width:1000px){
    .container{
        width: 920px;
    }
    .box-list{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:900px){
    .container{
        width: 820px;
    }
    .nav-image{
        display: none;
    }
    
}
@media(max-width:800px){
    .container{
        width: 720px;
    }
    .nav-sublist{
        display: none;
    }
    .nav-button{
        display: block;
    }
    .section-in{
        display: flex;
        flex-wrap: wrap;
       
       }
    .navbar .container{
        display: flex;
        justify-content: space-around;
    }   
    .navbar{
        display:none;
    }
    .section{
        display: none;
    }
    
}
@media(max-width:700px){
    .container{
        width: 620;
    }
    
}
@media(max-width:600px){
    .container{
        width: 520px;
    }
   .icon-text{
    display: none;
   }
   .holder-text{
    width: 80%;
   }
}
@media(max-width:500px){
    .container{
        width: 420px;
    }
    .holder-pic{
        width: 200px;
    }
}
























